---
- name: checking selinux unconfined service
  hosts: all
  remote_user: opsadmin
  become: true
  tasks:
    - name: checking conconfined services on server
      ansible.builtin.shell: |
        ps -efZ | grep "unconfined_service_t" | grep -v grep | /bin/awk -F: '
        {
          split($NF, a, " ");
          print a[2]
        }
        END {
          if (NR == 0) print "none"
        }'
      register: unconfined_check
      failed_when: false
      changed_when: false
    - name: displaying unconfined service running on server
      ansible.builtin.debug:
        msg: "Unconfined: {{ unconfined_check.stdout.split() }}"
      when: unconfined_check.stdout
    - name: Get names of unconfined service units
      ansible.builtin.shell: ps -efZ | grep "unconfined_service_t" | grep -v grep | awk '{print $NF}' | xargs basename
      register: unconfined_units
      changed_when: false
      failed_when: false
    - name: Create directories for each unconfined service
      ansible.builtin.file:
        path: "/root/admin/selx_cutm_policy/{{ item }}"
        state: directory
        mode: '0755'
        owner: root
        group: root
      loop: "{{ unconfined_units.stdout_lines }}"
      when: unconfined_units.stdout | trim | length > 0
    - name: Generate SELinux policy templates for each service
      ansible.builtin.shell: |       
        cd "/root/admin/selx_cutm_policy/{{ item }}"
        if [ ! -f "{{ item }}.te" ]; then
          sepolicy generate --init -n {{ item }} .
        fi
      loop: "{{ unconfined_units.stdout_lines }}"
      when: unconfined_units.stdout | trim | length > 0
      register: sepolicy_gen
      changed_when: "'Generating' in sepolicy_gen.stdout"
      
    - name: Find all .te files in policy directory
      find:
        paths: /root/admin/selx_cutm_policy/
        patterns: "*.te"
        recurse: yes
      register: found_files

    - name: Extract init_daemon_domain types
      shell: "grep 'init_daemon_domain' {{ item.path }} | awk -F'[ )]' '{print $2}'"
      loop: "{{ found_files.files }}"
      register: extracted_types
      changed_when: false
      failed_when: false

    - name: Display extracted service types
      debug:
        msg: "{{ item.stdout }}"
      loop: "{{ extracted_types.results }}"
      when: item.stdout != ""
    - name: complaile and Install SELinux policy modules
      ansible.builtin.shell: |
        cd "/root/admin/selx_cutm_policy/{{ item }}"
        make -f /usr/share/selinux/devel/Makefile {{ item }}.pp
        semodule -i "{{ item }}.pp"
      loop: "{{ unconfined_units.stdout_lines }}"
      when:
        - unconfined_units.stdout != "none"
        - item != ""
      register: semodule_result
      changed_when: semodule_result.rc == 0
      
    - name: Add SELinux file contexts if not present
      ansible.builtin.shell: |
        if semanage fcontext -l | grep -qP "^{{ item.item.path }}\s+"; then
          semanage fcontext -m -t {{ item.stdout }} "{{ item.item.path }}"
        else
         semanage fcontext -a -t {{ item.stdout }} "{{ item.item.path }}"
        fi
      loop: "{{ extracted_types.results }}"
      when: item.stdout != ""
      register: semanage_result
      changed_when: semanage_result.rc == 0
#########################################
#EXEC_PATH=$(systemctl show -p ExecStart --value "{{ item }}" | awk '{print $1}' | sed 's/path=//;s/;//')
