---
- name: checking selinux unconfined service
  hosts: all
  become: yes
  become_user: opsadmin
  become_method: sudo
  tasks:
    - name: display conconfined services
       ansible.builtin.shell: ps -eZ | grep "unconfined_service_t" | grep -v grep
    
