---
- name: checking selinux unconfined service
  hosts: all
  #gather_facts: no
  become: yes
  become_user: opsadmin
  become_method: sudo
  tasks:
    - name: hecking current unconfined service from selinux contex
      ansibe.builtin.shell:
        ps -eZ | grep -E "unconfined_t|initrc_t" | grep -v "kernel"
      register: unconfined_service
