---
- name: checking selinux unconfined service
  hosts: all
  become: yes
  become_user: opsadmin
  become_method: sudo
  tasks:
    - name: checking conconfined services on server
      ansible.builtin.shell: ps -efZ | grep "unconfined_service_t" | grep -v grep|awk '{print $NF}'
      register: unconfined_check
      failed_when: false
      changed_when: false
    - name: displaying unconfined service running on server
      ansible.builtin.debug:
        var: unconfined_check.stdout_lines
      when: unconfined_check.stdout | length > 0
    
