---
- name: checking selinux unconfined service
  hosts: all
  remote_user: opsadmin
  become: true
  tasks:
    - name: checking conconfined services on server
      ansible.builtin.shell: ps -efZ | grep "unconfined_service_t" | grep -v grep|awk '{print $NF}'
      register: unconfined_check
      failed_when: false
      changed_when: false
    - name: displaying unconfined service running on server
      ansible.builtin.debug:
        msg: "Unconfined: {{ unconfined_check.stdout.split() }}"
      when: unconfined_check.stdout
    #- name: Creating selinux custom directory to generate the policy for unconfined service
    #  ansible.builtin.file:
    #    path: /root/admin/selx_cutm_policy
    #    state: directory
    #    mode: '0755'
    #    owner: root
    #    group: root
    - name: Get names of unconfined service units
      ansible.builtin.shell: ps -eZ | grep 'unconfined_service_t' | awk '{print $2}' | xargs -r ps -o unit= -p
      register: unconfined_units
      changed_when: false
      failed_when: false
    - name: Create directories for each unconfined service
      ansible.builtin.file:
        path: "/root/admin/selx_cutm_policy/{{ item }}"
        state: directory
        mode: '0755'
        owner: root
        group: root
      loop: "{{ unconfined_units.stdout_lines }}"
      when: unconfined_units.stdout | trim | length > 0
    - name: Generate SELinux policy templates for each service
      ansible.builtin.shell: |
        EXEC_PATH=$(systemctl show -p ExecStart --value {{ item }} | awk '{print $1}' | cut -d';' -f1)
        CLEAN_NAME=$(echo "{{ item }}" | sed 's/\.service//' | sed 's/-/_/g')
        sepolicy generate --init -n $CLEAN_NAME $EXEC_PATH
      args:
        chdir: "/root/admin/selx_cutm_policy/{{ item }}"
        creates: "/root/admin/selx_cutm_policy/{{ item }}/{{ item | regex_replace('[^a-zA-Z0-9]', '_') }}.te"
      loop: "{{ unconfined_units.stdout_lines }}"
      when: unconfined_units.stdout | trim | length > 0
    
